@font-face {
    font-family: canopee;
    src: url("../fonts/canopee.ttf");
}

@font-face {
    font-family: domain;
    src: url("../fonts/Domain.ttf");
}

@font-face {
    font-family: editorial;
    src: url("../fonts/editorial.ttf");
}